body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.imgBar{
    background-color: #82adb3;
    height: auto;
  right: 0;
  width: 80vw;
 
    position: absolute;
    top: 7vh;
    display: none;
    border-radius: 1vw 1vw 1vw  10vw;
   padding: 8vh 0 3vh 2vh ;
}
img{
   
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}
#arrow {
   
    position: fixed;
    width: 4vw;
    height: 4vw; 
    top: 21vw;
    right: 5vw;
  }
 .line {
    position: absolute;
    
    left: 50%;
    width: 8vw;
    height: 1vw;
    border-radius: 2vw;
   
    background: #ffffff;
    
    transform: translate(-50%, -50%) rotate(45deg);
  }
 #second{
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  #circle{
     
  margin: 2vw;
      background-color: #052e33;
      width: 55vw;
      height: 55vw;
      border-radius: 100%;
  }
  #circle2{
     
    margin: 2vw;
    background-color: #052e33;
    width: 55vw;
    height: 55vw;
    border-radius: 100%;
}
  #labels{
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction:column;
      margin: 0 0 0 2vh;
    
  }
  #fotos{
    object-fit:cover;
     height: 60vh;
      
  }


  .BarInfo{
    background-color: #e59c9c;
    height: 68vh;
  right: 0;
  width: 80vw;
    z-index: 1;
    position: absolute;
    top: 7vh;
    display: none;
    opacity: 1;
    border-radius: 1vw 1vw 1vw  10vw;
   padding: 8vh 3vh 3vh 4vh ;
 
   overflow: scroll;
}
#labelsInfo{
    overflow: scroll;
}


@media (min-width:680px) {
    .imgBar{ width: 20vw ;
        padding: 7vh 4vh 3vh 2vh;}
    #circle{  width: 15vw;
        height: 15vw;}
        #circle2{  width: 15vw;
            height: 15vw;}
            #arrow{ top: 4vw;
                right: 2vw;}
                .line{  width: 5vw;
                    height: 0.5vw;}
                    
               

}