body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.imgBar{
    background-color: rgb(210 223 219);
    height: auto;
  right: 0;
  width: 80vw;
    z-index: 1;
    position: absolute;
    top: 7vh;
    display: none;
    border-radius: 1vw 1vw 1vw  10vw;
   padding: 8vh 3vh 3vh 2vh ;
}
img{
   
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}
#arrow {
    z-index: 2;
    position: absolute;
    width: 4vw;
    height: 4vw; 
    top: 6vw;
    right: 5vw;
  }
 .line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8vw;
    height: 1vw;
    border-radius: 2vw;
    stroke: #ffffff;
    color: #ffffff;
    background: #ffffff;
    
    transform: translate(-50%, -50%) rotate(45deg);
  }
 #second{
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  #circle{
     
  margin: 2vw;
      background-color: #ffffff;
      width: 60vw;
      height: 60vw;
      border-radius: 100%;
  }
  #circle2{
     
    margin: 2vw;
    background-color: #ffffff;
    width: 60vw;
    height: 60vw;
    border-radius: 100%;
}
  #labels{
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction:column;
      margin: 2vh;
    
  }
  #fotos{
    object-fit:cover;
     height: 60vh;
      margin-top: 8vh;
  }

  iframe{
      z-index: 2;
  }