@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNovaAW01-Extrabold";
    src:
        url("./font/proxima-nova-extrabold.woff2") format("woff2"),
        url("./font/proxima-nova-extrabold.woff") format("woff")
}

body {
    font-family: 'proxima_nova_rgregular';
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

h1 {
    font-family: 'ProximaNovaAW01-Extrabold', cursive;
    margin-top: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.imgBar {
    top: 9vh;
    height: auto;
    max-height: 80vh;
    right: 0;
    width: 87vw;
    overflow: auto;

    position: absolute;
    top: 9vh;
    display: none;
    border-radius: 1px 1px 1px 20px;
    padding: 0 0 3vh 2vh;
}

img {

    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 1vh;
    z-index: 1;
}

a {
    color: black;
}

.arrow {

    position: fixed;
    width: 4vw;
    height: 4vw;
    padding-top: 4vh;
    right: 6.5vw;
    z-index: 2;
}


.line {
    position: absolute;

    left: 50%;
    width: 8vw;
    height: 1vw;
    border-radius: 2vw;

    background: #000000;

    transform: translate(-50%, -50%) rotate(45deg);
}

#second {
    transform: translate(-50%, -50%) rotate(-45deg);
}

#circle {

    margin: 2vw;
    background-color: #bcb48c;
    width: 40vw;
    height: 40vw;
    border-radius: 100%;
}

#circle2 {

    margin: 2vw;
    background-color: #bcb48c;
    width: 40vw;
    height: 40vw;
    border-radius: 100%;
}

#labels {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 8vh 2vh 0 0vh;
}

fotos {
    object-fit: cover;
    height: 60vh;

}


.BarInfo {
    background-color: #bcb48c;
    height: 67vh;
    right: 0;
    width: 87vw;
    z-index: 3;
    position: absolute;
    right: 4vw;
    top: 9vh;
    display: none;
    opacity: 1;
    border-radius: 1vw 1vw 1vw 10vw;
    overflow: scroll;
}

#labelsInfo {

    overflow: scroll;
    margin: 8vh 3vh 8vh 3vh;
}

#blue {
    height: fit-content;
}

.loc {
    position: absolute;
    display: block;

}

@media (min-width:680px) {
    .imgBar {
        width: 27vw;
        padding: 7vh 4vh 3vh 2vh;
    }

    #circle {
        width: 18vw;
        height: 18vw;
    }

    #circle2 {
        width: 18vw;
        height: 18vw;
    }

    #arrow {
        top: 11vh;
        right: 2vw;

    }

    .line {
        width: 5vw;
        height: 0.5vw;
    }

    #labels {
        margin: 0px 0 40px 2vh;
    }

}

#find-me {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

#circleOut {
    position: absolute;
    width: 8vw;
    height: 8vw;
    border-radius: 10vw;
    border: 2px solid #bfc0c0;
}

#circleIn {
    position: absolute;
    width: 6vw;
    height: 6vw;
    border-radius: 6vw;
    background-color: #bfc0c0;

}

.loc {
    position: absolute;
    right: 5vh;
    top: 5vh;
}

.marker {
    width: 8vw;
    height: 8vw;
    border-radius: 10vw;
    background-color: rgb(7, 98, 245);
}

#hidden {
    background-color: #c68d2e;
    opacity: 1;
}